<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vacinas">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Vacinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vacinadores">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label>Vacinadores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vacinados">
      <ion-icon name="people"></ion-icon>
      <ion-label>Vacinados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>